html, body {
   height: 100%;
   margin-right: 5%;
   margin-left: 5%;
}

body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family:Verdana, Arial, Helvetica, serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  position: relative;
  cursor: default;
}

a {
    color: #008cba; /* link's color */
    text-decoration: none;  /* remove underline links */
   }

a:visited {
    color: #008cba; /* color already visited link  */
    text-decoration: none;
   }

a:active {
    color: #0058a0; /* active link's color (active link becomes when you click on it.)*/
    text-decoration: none;
   }

a:hover {
    color: #0058a0; /* link's color hover (when mouse on it) */
    text-decoration: none;
   }

#cas_table {
    width: 300px;
    margin: auto;
}

#cas_table td {
    border: 1px solid #008cba;
    text-align: center;
    padding: 7px;
}



#top-bar {
  overflow: hidden;
  height: 45px;
  position: relative;
  background: #333333;
}
/*
display:block;
	margin: auto;
    text-align: center;
	padding:10px, 10px;
	list-style:none;
	font-size:19px;
	font-weight:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;


  border:1px solid red;
*/
#top-bar-section p {
    float: right; /* aligning inside div */
    width: 25%;
    margin-right: 20px;  /* indent from the right border */
    text-align:right; /* text alignment in div */
    color: #333333;
}

#top-bar-section a {
    color: white; /* link's color */
    text-decoration: none;  /* remove underline links */
}

#top-bar-section a:hover {
    color: #006688; /* link's color hover (when mouse on it) */
    text-decoration: none;
   }

#topnav{
    margin: auto;
    text-align: center;
    font-size: 21px;
   	font-weight:normal;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

#search_top {
    width:100%;
    height:100px;
}

#search {
    width:400px;
    height:100px;
    float:right;

}

#login_main{
    width:100%;
    height:200px;

}

#login_activ {
    width: 400px;
    margin: auto;

}

#login_button {
    width:25%;
    margin: auto;

}

#login_buttom {
    width:100%;
    height:200px;

}

#footer {
    background: #333333;

    color: white; /* text color */
    width: 100%; /* div's width */
    height: 50px;
   }

#load{
    text-align: right;
    margin-right: 20px;

}

#form_cas{
    width: 450px;
    margin: auto;
    text-align: right;


}

#form_cas_edit{
    width: 300px;
    margin: auto;
    text-align: center;


}

