{% extends 'welcome.html' %}
{% load i18n %}




{% block cas_nsi %}

<p>{% blocktrans %}Centralized automated system "Standard-reference information Sberbank of Russia"  (CAS SRI) is designed for administration
directories that contain reference data, and the subsequent unloading of reference information to consumers.</p>

    <p>CAS SRI has a web interface. For work in the CAS SRI you mast use an Internet browser (Microsoft Internet Explorer).
You can use next available forms data entry and processing for work in the CAS SRI system:<br>
- form of reference book;<br>
- form for editing phonebook entries;<br>
- form for downloading files.<br>
CAS SRI user has access to certain data and functions of the system defined by the system administrator.</p>

    <p>Following functions are automatized in CAS SRI system:<br>
- data view;<br>
- search Data;<br>
- data editing;<br>
- uploading files;<br>
- control the integrity and semantics of the data stored.{% endblocktrans %}</p>


<br><br>
<hr>
<div id="load">


    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.file.url }}">{{ document }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'cas_nsi_load' %}" enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            <p>{{ form2.non_field_errors }}</p>
            <p>{{ form2.file.label_tag }} {{ form2.file.help_text }}</p>
            <p>
                {{ form2.file.errors }}
                {{ form2.file }}
            </p>
            <p><input type="submit" value="Загрузить" /></p>
        </form>

</div>

{% if user.is_authenticated %}

    <br><br>
        <table id="cas_table">
            <tr>
                <td><b>{% blocktrans %}Stand{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}Informative resource{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}Server name{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}Configuration item{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}IP adress{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}URL adress{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}Login{% endblocktrans %}</b></td>
                <td><b>{% blocktrans %}Password{% endblocktrans %}</b></td>
            </tr>
            {% for value in all_odjects %}
            <tr><td>{{ value.casbook_stand }}</td><td>{{ value.casbook_resource }}</td><td>{{ value.casbook_name }}</td><td>{{ value.casbook_ke }}</td>
                <td>{{ value.casbook_ip }}</td><td>{{ value.casbook_url }}</td><td>{{ value.casbook_login }}</td><td>{{ value.casbook_passwd }}</td>
            </tr>
            {% endfor %}
        </table>

    <br><br>



<div id="form_cas">


                <form action="{% url 'cas_nsi' %}" method="post">
                    {% csrf_token %}
                    {{ form1.as_p }}

                    <br>
                    <input type="submit" class="button-bar" value="Добавить">
                </form>


            </div>




    <br><br>

<div id="form_cas_edit">
    <form action="{% url 'select_action' %}" method="post">{% csrf_token %}
        <p>{% blocktrans %}Resource:{% endblocktrans %}&nbsp;
            <select name="select1">
                <option selected="selected">{% blocktrans %}Choose configuration item{% endblocktrans %}</option>
                    {% for value in all_odjects %}
                        <option>{{ value.casbook_ke }}</option>
                    {% endfor %}
            </select>
        </p>
        <p>
            <input type="submit" name="edit" value="Редактировать">
            <input type="submit" name="delete" value="Удалить">
        </p>
    </form>
</div>



    {% endif %}


 {% endblock %}

