{% extends 'welcome.html' %}





{% block cas_nsi %}

<p>Централизованная автоматизированная система "Нормативно-справочная информация Сбербанка России" (ЦАС НСИ) предназначена для введения
справочников, содержащих нормативно-справочную информацию, и последующей вырузки нормативно-справочной информации потребителям.</p>

    <p>ЦАС НСИ оснащена веб-интерфейсом. Для работы в ЦАС НСИ используется Интернет-браузер (Microsoft Internet Explorer).
Для работы в ЦАС НСИ доступны формы ввода и обработки данных:<br>
- форма справочника;<br>
- форма редактирования записи справочника;<br>
- форма загрузки файлов.<br>
Пользователь ЦАС НСИ имеет определенные администратором системы права доступа к тем или иным данным и функциям системы.</p>

    <p>В системе ЦАС НСИ автоматизированы следующие функции:<br>
- просмотр данных;<br>
- поиск данных;<br>
- редактирование данных;<br>
- выгрузка файлов;<br>
- контроль целостности и семантики хранимых данных.</p>


<br><br>
<hr>
<div id="load">


    {% if documents %}
        <ul>
        {% for document in documents %}
            <li><a href="{{ document.file.url }}">{{ document }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'cas_nsi_load' %}" enctype="multipart/form-data" method="post" >
            {% csrf_token %}
            <p>{{ form2.non_field_errors }}</p>
            <p>{{ form2.file.label_tag }} {{ form2.file.help_text }}</p>
            <p>
                {{ form2.file.errors }}
                {{ form2.file }}
            </p>
            <p><input type="submit" value="Загрузить" /></p>
        </form>

</div>

{% if user.is_authenticated %}

    <br><br>
        <table id="cas_table">
            <tr>
                <td><b>Стенд</b></td>
                <td><b>Информационный ресурс</b></td>
                <td><b>Имя машины</b></td>
                <td><b>КЭ</b></td>
                <td><b>IP адрес</b></td>
                <td><b>URL адрес</b></td>
                <td><b>Логин</b></td>
                <td><b>Пароль</b></td>
            </tr>
            {% for value in all_odjects %}
            <tr><td>{{ value.casbook_stand }}</td><td>{{ value.casbook_resource }}</td><td>{{ value.casbook_name }}</td><td>{{ value.casbook_ke }}</td>
                <td>{{ value.casbook_ip }}</td><td>{{ value.casbook_url }}</td><td>{{ value.casbook_login }}</td><td>{{ value.casbook_passwd }}</td>
            </tr>
            {% endfor %}
        </table>

    <br><br>



<div id="form_cas">


                <form action="{% url 'cas_nsi' %}" method="post">
                    {% csrf_token %}
                    {{ form1.as_p }}

                    <br>
                    <input type="submit" class="button-bar" value="Добавить">
                </form>


            </div>




    <br><br>

<div id="form_cas_edit">
    <form action="{% url 'select_action' %}" method="post">{% csrf_token %}
        <p>Ресурс:&nbsp;
            <select name="select1">
                <option selected="selected">Выберите КЭ</option>
                    {% for value in all_odjects %}
                        <option>{{ value.casbook_ke }}</option>
                    {% endfor %}
            </select>
        </p>
        <p>
            <input type="submit" name="edit" value="Редактировать">
            <input type="submit" name="delete" value="Удалить">
        </p>
    </form>
</div>



    {% endif %}


 {% endblock %}

