{% extends 'welcome.html' %}
{% load i18n %}

{% block search %}

<p>{% blocktrans %}You searched for:{% endblocktrans %} <strong>{{ query }}</strong></p>

{% if search_search %}
    <p>{% blocktrans %}We found {{ search_search|length }} coincidence{{ search_search|pluralize }}.{% endblocktrans %}</p>
    <ul>
        {% for find in search_search %}
        <li>{{ find.casbook_stand }} - {{ find.casbook_resource }} - {{ find.casbook_name }}
         - {{ find.casbook_ke }} - {{ find.casbook_ip }}</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% blocktrans %}The entered value is not found. Try again.{% endblocktrans %}</p>
{% endif %}
<!--    <title>Search</title> -->

{{ message }}
{% endblock %}


