{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/view.css" %}">
</head>
<body>

<div id="top-bar">
    <div id="top-bar-section">
        <!--<ul> class="right">-->
            {% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">{% blocktrans %}Logout ({{ username }}){% endblocktrans %}</a></p>
            {% else %}
                <p><a href="{% url 'openlogin' %}?next={{request.path}}">{% blocktrans %}Login{% endblocktrans %}</a></p>
            {% endif %}
       <!-- </ul>-->
    </div>
</div>
<p><h4><a href="{% url 'home' %}">{% blocktrans %}Home{% endblocktrans %}</a></h4></p>
<br><br>
    <div id="topnav">
      <a href="{% url 'irbis' %}">{% blocktrans %}IRBIS{% endblocktrans %}</a> &nbsp | &nbsp
        <a href="{% url 'cas_nsi' %}">{% blocktrans %}CAS SRI{% endblocktrans %}</a> &nbsp | &nbsp
        <a href="{% url 'kc' %}">{% blocktrans %}CC{% endblocktrans %}</a> &nbsp | &nbsp
        <a href="{% url 'vik' %}">{% blocktrans %}VIK{% endblocktrans %}</a>
    </div>
<br><br><br><br>

<div id=search_top>
<div id="search">
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q">
        <input type="submit" value="{% blocktrans %}Search{% endblocktrans %}">
    </form>
</div>
</div>


{% block home %}{% endblock %}

{% block irbis %}{% endblock %}

{% block cas_nsi %}{% endblock %}

{% block cas_nsi_edit %}{% endblock %}

{% block kc %}{% endblock %}

{% block vik %}{% endblock %}

{% block login %}{% endblock %}

{% block logout %}{% endblock %}

{% block search %}{% endblock %}


<br><br>


<div id="footer">
    </div>

</body>
</html>





