{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/view.css" %}">
</head>
<body>

<div id="top-bar">
    <div id="top-bar-section">
        <!--<ul> class="right">-->
            {% if username %}
                <p><a href="{% url 'logout' %}">Выйти ({{ username }})</a></p>
            {% else %}
                <p><a href="{% url 'openlogin' %}?next={{request.path}}">Войти</a></p>
            {% endif %}
       <!-- </ul>-->
    </div>
</div>
<p><h4><a href="{% url 'home' %}">Home</a></h4></p>
<br><br>
    <div id="topnav">
      <a href="{% url 'irbis' %}">АС ИРБИС</a> &nbsp | &nbsp <a href="{% url 'cas_nsi' %}">АС ЦАС НСИ</a> &nbsp | &nbsp  <a href="{% url 'kc' %}">АС КЦ</a> &nbsp | &nbsp <a href="{% url 'vik' %}">АС ВИК</a>
    </div>
<br><br><br><br>

<div id=search_top>
<div id="search">
    <form action="{% url 'search' %}" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
    </form>
</div>
</div>


{% block home %}{% endblock %}

{% block irbis %}{% endblock %}

{% block cas_nsi %}{% endblock %}

{% block cas_nsi_edit %}{% endblock %}

{% block kc %}{% endblock %}

{% block vik %}{% endblock %}

{% block login %}{% endblock %}

{% block logout %}{% endblock %}

{% block search %}{% endblock %}


<br><br>


<div id="footer">
    </div>

</body>
</html>





